

<a href="." class="weui-link">
	{{ config('home_text') | default(translate('home')) }}
</a>

{% if path is not null %}
	{% for name, path in breadcrumbs(path) %}
		/
		<a href="{{ path }}" class="weui-link">{{ name }}</a>
	{% endfor %}
{% endif %}
