<div id="dialogWrap" class="js_dialog_wrap" ref="showDialog" aria-labelledby="js_dialog_title" role="dialog" aria-modal="false" aria-hidden="true" style="display: none;">
	<div id="mask" class="js_close weui-mask"></div>
	<div id="js_dialog" class="js_dialog weui-half-screen-dialog weui-bottom-fixed-opr-page">
		<div class="weui-half-screen-dialog__hd">
			<div class="weui-half-screen-dialog__hd__side">
				<button class="js_close weui-btn_icon weui-wa-hotarea">Close<i class="weui-icon-slide-down"></i>
				</button>
			</div>
			<div class="weui-half-screen-dialog__hd__main">
				<strong class="weui-half-screen-dialog__title" id="js_dialog_title"></strong>
			</div>
		</div>
		<div class="weui-half-screen-dialog__bd weui-bottom-fixed-opr-page__content" id="js_wrap_content">
			<div class="weui-half-screen-dialog__desc">
				<div id="dialog_media"></div>
				<div class="table-responsive">
					<table>
						<tbody>
							<tr>
								<td>Type</td>
								<td id="js_dialog_type">
									<span aria-hidden="true" role="img" aria-label="Loading" class="weui-primary-loading" style="color: var(--weui-BRAND);">
										<i class="weui-primary-loading__dot"></i>
									</span>
								</td>
							</tr>
							<tr>
								<td>md5</td>
								<td id="js_dialog_md5">
									<span aria-hidden="true" role="img" aria-label="Loading" class="weui-primary-loading" style="color: var(--weui-BRAND);">
										<i class="weui-primary-loading__dot"></i>
									</span>
								</td>
							</tr>
							<tr>
								<td>sha1</td>
								<td id="js_dialog_sha1">
									<span aria-hidden="true" role="img" aria-label="Loading" class="weui-primary-loading" style="color: var(--weui-BRAND);">
										<i class="weui-primary-loading__dot"></i>
									</span>
								</td>
							</tr>
							<tr>
								<td>sha256</td>
								<td id="js_dialog_sha256">
									<span aria-hidden="true" role="img" aria-label="Loading" class="weui-primary-loading" style="color: var(--weui-BRAND);">
										<i class="weui-primary-loading__dot"></i>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="weui-half-screen-dialog__ft weui-bottom-fixed-opr-page__tool">
			<div
				class="weui-half-screen-dialog__btn-area">
				<!--<a href="javascript:" id="js_wrap_copy" class="js_close weui-btn weui-btn_default">Copy</a>-->
				<a href="javascript:" id="js_wrap_download" class="js_close weui-btn weui-btn_primary" target="_blank">Download</a>
			</div>
		</div>
	</div>
</div>